header {
    background-image: url('/src/Assets/Collection-Header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 40em;
    background-color: azure;

    @media (max-width: 1024px){ height: 30em;}
    @media (max-width: 768px){ height: 20em;}
    @media (max-width: 640px){ height: 15em;}

}

.card {
    height: 35em;

    @media (max-width: 1300px){ height: 30em;}
    @media (max-width: 640px){ height: 20em;}
    .text {
        background-color: rgba(0, 0, 0, 0.4);
    }
}